In [1]:
import pandas as pd

In [ ]:
mydataset = {'cars': ["BMW", "Volvo", "Ford"], 
            'passing': [3, 7, 2]
}

In [ ]:
myvar = pd.DataFrame(mydataset)
print(myvar)

Series: A pandas series is like a column in a table.
    It is a one dimensional array holding data of any type.

In [ ]:
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

In [ ]:
print(myvar[0])

In [ ]:
#create your own index
a = [1, 7, 2]
myvar = pd.Series(a, index = ['x', 'y', 'z'])
print(myvar)

In [ ]:
# create a simple pandas series from a dictionary
calories = {'day1': 420, "day2": 380, 'day3': 390}
myvar = pd.Series(calories)
print(myvar)

Note: The keys of the dictionary become the labels.

In [ ]:
calories = {'day1': 420, "day2": 380, 'day3': 390}
myvar = pd.Series(calories, index = ['day1', 'day2'])
print(myvar)

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [ ]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
print(myvar)

In [ ]:
myvar.loc[[0, 1]]

In [2]:
import numpy as np

In [11]:
df = pd.read_csv('mercedesbenz.csv')

In [ ]:
df

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
data = {
    'a': [1, 2, -3, 4],
    'b': [5, 6, 7, 8],
    'c': ['a', 'b', 'c', np.nan]
}

In [8]:
data

{'a': [1, 2, -3, 4], 'b': [5, 6, 7, 8], 'c': ['a', 'b', 'c', nan]}

In [9]:
df = pd.DataFrame(data)
df

   a  b    c
0  1  5    a
1  2  6    b
2 -3  7    c
3  4  8  NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       3 non-null      object
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [13]:
df1 = pd.read_csv('mercedesbenz.csv')

In [14]:
df1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB