In [2]:
list1 = [1, 2, 3, 4, 5]

In [3]:
for i in list1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [4]:
list2 = ["sudh", "kumar", "krish", "raj"]
for i in list2:
    print(i, type(i))

sudh <class 'str'>
kumar <class 'str'>
krish <class 'str'>
raj <class 'str'>

In [5]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [6]:
for i in list2:
    print(i)
else:
    print("if for loop is able to complete then this else statement will execute otherwise not")

sudh
kumar
krish
raj
if for loop is able to complete then this else statement will execute otherwise not

In [7]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [8]:
for i in list2:
    if i == "kumar":
        break
    print(i)

sudh

In [9]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [10]:
for i in list2:
    if i == "kumar":
        break
    print(i)
else:
    print("if for loop is able to complete then this else statment will execute otherwise not")

sudh

In [11]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [12]:
for i in list2:
    if i == "kumar":
        continue
    print(i)
else:
    print("execute else statment if for loop is complete")

sudh
krish
raj
execute else statment if for loop is complete

In [13]:
range(5)

range(0, 5)

In [31]:
list(range(5))

[0, 1, 2, 3, 4]

In [30]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
list(range(-10, 0, 2))

[-10, -8, -6, -4, -2]

In [33]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [37]:
len(list2)

4

In [38]:
list(range(len(list2)))

[0, 1, 2, 3]

In [42]:
for i in range(len(list2)):
    print(list2[i])

sudh
kumar
krish
raj

In [53]:
list(range(len(list2)-1, -1, -1))

[3, 2, 1, 0]

In [54]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [62]:
for i in range(len(list2)-1, -1, -1):
    print(list2[i])

raj
krish
kumar
sudh

In [61]:
list2

['sudh', 'kumar', 'krish', 'raj']

In [63]:
list3 = [23, 54, 76, 345, 987, 1, 43, 56]
range(0, len(list3))

range(0, 8)

In [66]:
list(range(0, len(list3), 2))

[0, 2, 4, 6]

In [67]:
for i in range(0, len(list3), 2):
    print(list3[i])

23
76
987
43

In [68]:
mylist = [23, 54, 76, 90, 1, 2, 3, 4, 5, 6, 7, 8, 8,]

In [69]:
mylist

[23, 54, 76, 90, 1, 2, 3, 4, 5, 6, 7, 8, 8]

In [77]:
range(0, len(mylist), 2)

range(0, 13, 3)

In [78]:
list(range(0, len(mylist), 2))

[0, 3, 6, 9, 12]

In [81]:
for i in list(range(0, len(mylist), 2)):
    print(mylist[i])

23
76
1
3
5
7
8

In [82]:
mylist

[23, 54, 76, 90, 1, 2, 3, 4, 5, 6, 7, 8, 8]

In [83]:
sum(mylist)

287

In [84]:
result = 0
for i in mylist:
    result = result + i
result

287

In [85]:
mytuple = (1, 2, 3, 4, 5, 6)

In [86]:
mytuple

(1, 2, 3, 4, 5, 6)

In [87]:
sum(mytuple)

21

In [90]:
result = 0

for i in mytuple:
    result = result + i
result

21

In [93]:
myset = {1, 2, 3, 4, "sudh", "pwskills", "data"}

In [94]:
myset

{1, 2, 3, 4, 'data', 'pwskills', 'sudh'}

In [96]:
for i in myset:
    print(i)

1
2
3
4
data
pwskills
sudh

In [97]:
string1 = "pwskills"

In [100]:
range(0, len(string1), 2)

range(0, 8, 2)

In [106]:
for i in range(0, len(string1), 2):
    print(string1[i])

p
s
i
l

In [107]:
my_dict = {"name": "sudh", "class": "data science masters", "topic": {"python","stats", "machine learning", "powerBI"} }

In [108]:
my_dict

{'name': 'sudh',
 'class': 'data science masters',
 'topic': {'machine learning', 'powerBI', 'python', 'stats'}}

In [112]:
my_dict['name']

'sudh'

In [113]:
my_dict.keys()

dict_keys(['name', 'class', 'topic'])

In [114]:
my_dict.values()

dict_values(['sudh', 'data science masters', {'python', 'machine learning', 'stats', 'powerBI'}])

In [115]:
my_dict.items()

dict_items([('name', 'sudh'), ('class', 'data science masters'), ('topic', {'python', 'machine learning', 'stats', 'powerBI'})])

In [116]:
for i in my_dict.keys():
    print(my_dict[i])

sudh
data science masters
{'python', 'machine learning', 'stats', 'powerBI'}

In [120]:
for i in my_dict.values():
    print(i)

sudh
data science masters
{'python', 'machine learning', 'stats', 'powerBI'}

In [121]:
for i in my_dict.items():
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', {'python', 'machine learning', 'stats', 'powerBI'})