In [1]:
print("hey data scientist!")

hey data scientist!

In [2]:
def test():

IndentationError: expected an indented block (3861551224.py, line 1)

In [3]:
def test():
    pass

In [7]:
def test1(): # function definition
    print("this is my first function!")

In [6]:
test1() # function call

this is my first function!

In [9]:
test1() + "some"

this is my first function!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
def test2():
    return "this is my very first programming journey"

In [11]:
test2()

'this is my very first programming journey'

In [14]:
test2() + " hai"

'this is my very first programming journey hai'

In [17]:
def test3():
    return "data", 456, 85, 78.25, True, [23, 45, 67, 89, 12]

In [18]:
test3()

('data', 456, 85, 78.25, True, [23, 45, 67, 89, 12])

In [19]:
a, b, c, d, e, f = test3()

In [20]:
a

'data'

In [21]:
b

456

In [22]:
c

85

In [23]:
d

78.25

In [24]:
e

True

In [25]:
f

[23, 45, 67, 89, 12]

In [26]:
def test4():
    a = 4 + 6 / 4
    return a

In [29]:
test4()

5.5

In [30]:
def test5(a, b, c):
    d = a + b/c
    return d

In [32]:
test5(23, 45, 67)

23.671641791044777

In [33]:
def test6(a, b):
    return a + b

In [35]:
test6(20, 25)

45

In [36]:
test6("sudh", "anshu")

'sudhanshu'

In [37]:
test6([12, 2,3 , 45, 56], [32, 54, 76, 98])

[12, 2, 3, 45, 56, 32, 54, 76, 98]

In [55]:
l1 = []
l3 = []
def mixed_data(a_list):
    for i in a_list:
        if type(i) == int or type(i) == float:
            l1.append(i)
            
    return l1

In [58]:
list1 = [23, 54, "data", 34.23, "science", [45,78,89,36]]
mixed_data(list1)

[23, 54, 34.23, 23, 54, 34.23, 23, 54, 34.23]

In [59]:
l2 = []
def new_data(a):
    """this function extract values of different types from a list from a given list"""
    for i in a:
        if type(i) == list:
            for j in i:
                l2.append(j)
            
        else: 
            if type(i) == int or type(i) == float:
                l2.append(i)
    return l2

In [60]:
new_data(list1)

[23, 54, 34.23, 45, 78, 89, 36]

In [61]:
def test10(a, b):
    return a + b

In [72]:
# important points
def test11(*args): # you can use any other word instead of args because this is all about asterisk(*)
    return args

In [73]:
test11()

()

In [65]:
type(test11())

tuple

In [67]:
test11(12, 34, 55)

(12, 34, 55)

In [71]:
test11(12, 43, 56.50, "data", "engineering", [12, 34, 56, 67])

(12, 43, 56.5, 'data', 'engineering', [12, 34, 56, 67])

In [70]:
list(test11(12, 43, 56.50, "data", "engineering", [12, 34, 56, 67]))

[12, 43, 56.5, 'data', 'engineering', [12, 34, 56, 67]]

In [75]:
def test12(*var):
    return var

In [76]:
test12(12, 34, 56.43, "namasateIndia", "goodevening")

(12, 34, 56.43, 'namasateIndia', 'goodevening')

In [77]:
def test13(*args, a):
    return args, a

In [79]:
test13(23, 45, 67, a = 100)

((23, 45, 67), 100)

In [81]:
def test14(c, d, a = 20, b = 34):
    return a, b, c, d

In [83]:
test14(100, 200)

(20, 34, 100, 200)

In [85]:
test14(2, 5, a = 100) # you can overwrite the value of a variable

(100, 34, 2, 5)

In [86]:
def test15(**kwargs):
    return kwargs

In [87]:
test15()

{}

In [88]:
type(test15())

dict

In [89]:
test15(a = [1, 2, 3, 4], b = "something", c = 23.34)

{'a': [1, 2, 3, 4], 'b': 'something', 'c': 23.34}